.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.egg

# Database files
*.db
*.sqlite
*.sqlite3
instance/

# Coverage reports
.coverage
htmlcov/

# Local overrides
docker-compose.everride.yml

# IDE files
.vscode/
.idea/